<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>aecho</addon>
    <addon>AnnounceTarget</addon>
    <addon>autocontrol</addon>
    <addon>answeringmachine</addon>
    <addon>azureSets</addon>
    <addon>battlemod</addon>
    <addon>cancel</addon>
    <addon>Clock</addon>
    <addon>ConsoleBG</addon>
    <addon>craft</addon>
    <addon>DistancePlus</addon>
    <addon>findAll</addon>
    <addon>GearSwap</addon>
    <addon>giltracker</addon>
    <addon>InfoReplacer</addon>
    <addon>instaLS</addon>
    <addon>itemizer</addon>
    <addon>ohShi</addon>
    <addon>Omen</addon>
    <addon>pet_fix</addon>
    <addon>PetTP</addon>
    <addon>pointwatch</addon>
    <addon>rolltracker</addon>
    <addon>send</addon>
    <addon>setbgm</addon>
    <addon>shortcuts</addon>
    <addon>Silence</addon>
    <addon>SpeedChecker</addon>
    <addon>SpellCheck</addon>
    <addon>temps</addon>
    <addon>Text</addon>
    <addon>timestamp</addon>
    <addon>TParty</addon>
    <addon>translate</addon>
    <addon>zonetimer</addon>
    <addon>VisibleFavor</addon>
    <addon>gametime</addon>
    <addon>checkparam</addon>
    <addon>Debuffed</addon>
    <addon>autoinvite</addon>
    <addon>update</addon>
    <addon>Trusts</addon>
    <addon>stna</addon>
    <addon>roe</addon>
    <addon>remember</addon>
    <addon>Pouches</addon>
    <addon>plasmon</addon>
    <addon>autojoin</addon>
    <addon>DressUp</addon>
    <addon>MountMuzzle</addon>
    <addon>autoenterkey</addon>
    <addon>indinope</addon>
    <addon>BattleStations</addon>
    <addon>JobChange</addon>
    <addon>NoCampaignMusic</addon>
    <addon>equipviewer</addon>
    <addon>Treasury</addon>
    <plugin>Guildwork</plugin>
    <plugin>IME</plugin>
    <plugin>Sandbox</plugin>
    <plugin>Timers</plugin>
    <plugin>Tickle</plugin>
    <plugin>FishingCrashFix</plugin>
    <plugin>DelayMeNot</plugin>
    <plugin>FFXIDB</plugin>
    <plugin>Run</plugin>
    <plugin>SSOrganizer</plugin>
    <plugin>ChatMon</plugin>
  </autoload>
  <profile name="">
    <consolekey>Insert</consolekey>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
  </profile>
</settings>