<settings>
    <Dasmir>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Dasmir>
    <Mostmost>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Mostmost>
    <Ravindra>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Ravindra>
    <Gonzaloo>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Gonzaloo>
    <Suede>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>0</FrameRateDivisor>
    </Suede>
    <Yerp>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>0</FrameRateDivisor>
    </Yerp>
    <Mehany>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Mehany>
    <global>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>0</FrameRateDivisor>
    </global>
    <Molyoly>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Molyoly>
</settings>
