<settings>
    <Perseise>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Perseise>
    <Almontay>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Almontay>
    <Dayanna>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Dayanna>
    <Gonzaloo>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Gonzaloo>
    <Ravindra>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Ravindra>
    <Kavita>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Kavita>
    <Akilee>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Akilee>
    <Drecien>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Drecien>
    <Deliah>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Deliah>
    <Olymoly>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Olymoly>
    <Yerp>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Yerp>
    <Helyah>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Helyah>
    <Mostmost>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>2</FrameRateDivisor>
    </Mostmost>
</settings>
